<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PORTFOLIO</title>
    <link rel="stylesheet" href="style.css" />
    <!-- // Anton Antonio Poppins Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Antonio:wght@100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- // Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <div class="circle circle1"></div>
    <header>
        <div class="leftSide"><h4>Portfolio</h4></div>
        <div class="rightSide">
                <a href="#home">Home</a>
                    <a href="#about">About</a>
                    <a href="#portfolio">Portfolio</a>
                    <a href="#contact">Contact</a>
            <div class="part2"><a href="#contact"></a><i class="fa-solid fa-phone"></i></a></div>
        </div>
    </header>
    <div class="hero">
        <div class="leftHero">
            <h1>I'm a <span>MERN Stack</span> Developer</h1>
            <div class="founderSection">
                <img src="Assets/Profile picture.jpg" alt="">
                <p><span>Founder :</span> Shuva Patra</p>
            </div>
            <div class="heroButtons">
                <button class="learnMore">Learn More &nbsp <i class="fa-solid fa-arrow-up-right-from-square"></i></button>
                <button class="contactNow">Contact Now &nbsp<i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>
        <div class="rightHero">
            <img src="Assets/3.png" alt="">
            <div class="circle circle2"></div>
        </div>
    </div>
    <div class="knowledgeSlide">
        <div class="slider">
            <span>*</span><div class="slide">HTML & CSS </div><span>*</span>
        <div class="slide">UI & UX</div><span>*</span>
        <div class="slide">Javascript</div><span>*</span>
        <div class="slide">React JS</div><span>*</span>
        <div class="slide">Wordpress</div><span>*</span>
        <div class="slide">Gsap</div><span>*</span>
        <div class="slide">Node Js</div><span>*</span>
        <div class="slide">Express Js</div><span>*</span>
        <div class="slide">Shopify</div><span>*</span>
        <div class="slide">Locomotive JS</div><span>*</span>
        <div class="slide">Slider JS</div><span>*</span>
    </div>
    </div>
    <!-- About us section-->
    <div class="about">
        <div class="aboutHead"><h1>About <span>Me</span></h1></div>
        <div class="aboutSection">
            <div class="leftAbout ">
                    <div class="multiSlide1">
                        <div class="techBox"><img src="Assets/bootstrap-nDDA55uz.webp" alt=""><p>Bootstrap</p></div>
                        <div class="techBox"><img src="Assets/css-L3FD0kL5.webp" alt=""><p>CSS</p></div>
                        <div class="techBox"><img src="Assets/es6-EvMT-5vk.png" alt=""><p>ES6</p></div>
                        <div class="techBox"><img src="Assets/figma-transformed-qv4jacRw.png" alt=""><p>Figma</p></div>
                        <div class="techBox"><img src="Assets/gsap-qcuLL2VW.png" alt=""><p>Gsap</p></div>
                    </div>
                    <div class="multiSlide2">
                        <div class="techBox"><img src="Assets/html-IEA_nVUa.webp" alt=""><p>HTML 5</p></div>
                        <div class="techBox"><img src="Assets/js-5DBC8IR_.png" alt=""><p>JavaScript</p></div>
                        <div class="techBox"><img src="Assets/jsx-HyizZIgF.png" alt=""><p>JSX</p></div>
                        <div class="techBox"><img src="Assets/mongo-ZuFRBpiX.png" alt=""><p>Mongo DB</p></div>
                        <div class="techBox"><img src="Assets/node-FAB_1iA1.png" alt=""><p>Node Js</p></div>
                    </div>
                    <div class="multiSlide3">
                        <div class="techBox"><img src="Assets/npm-xDYoaEu2.png" alt=""><p>Npm</p></div>
                        <div class="techBox"><img src="Assets/react-ZkobJTb8.webp" alt=""><p>React Js</p></div>
                        <div class="techBox"><img src="Assets/ui-axDjbDyt.png" alt=""><p>UI & UX</p></div>
                        <div class="techBox"><img src="Assets/1656733637logo-canva-png.webp" alt=""><p>Canva</p></div>
                        <div class="techBox"><img src="Assets/download (2).png" alt=""><p>Express Js</p></div>
                </div>
            </div>
        <div class="rightAbout">
            <p>Hello! I'm <span style="color: #9cff00;">Shuva a Website Designer</span> with expertise in HTML5, CSS, Bootstrap, GSAP, React, JavaScript, Figma, Node, Express, Mongo Db and WordPress. I specialize in crafting engaging digital experiences tailored to your needs. From sleek layouts to intricate animations, I bring your vision to life with creativity and precision. Whether you're aiming for a stunning portfolio or a robust e-commerce site, I've got you covered. <br><br>I thrive on collaboration and communication, ensuring your project exceeds expectations.
                <span style="color: #9cff00;"> Let's work together to elevate your online presence</span> and create websites that captivate and inspire!</p>
        </div>
        </div>
    </div>
    <!-- // Portfolio Section -->
    <div class="portfolio">
        <div class="portfolioHead"><h1>My <span>Portfolio</span></h1></div>
        <div class="portfolioSection">
            <div class="portfolioBox">
                <img src="Assets/Portfolio/Screenshot 2024-05-14 132746.png" alt="">
                <div class="portfolioBoxMiddle">
                    <h4>GrowCroud  Project</h4>
                    <a href="https://growcroud.com/"><i class="fa-solid fa-arrow-right-long"></i></a>
                </div>
                <p>A  dynamic video production company specializing in high-quality visual content. We create engaging and impactful videos for various industries. Our services include promotional videos, corporate films, and event coverage. Trust Growcroud to bring your vision to life with cinematic excellence.</p>
            </div>
            <div class="portfolioBox">
                <img src="Assets/Portfolio/Screenshot 2024-05-14 132934.png" alt="">
                <div class="portfolioBoxMiddle">
                    <h4>Nutrimillets Ecommerce</h4>
                   <a href="https://www.nutrimillets.online/"> <i class="fa-solid fa-arrow-right-long"></i></a>
                </div>
                <p>A thriving ecommerce business offering a variety of millet-based products. Our mission is to promote healthy eating with nutritious, organic millets. We provide an extensive range of products, including flours, grains, and snacks. Experience the benefits of millets with Nutrimillets premium selection.</p>
            </div>
            <div class="portfolioBox">
                <img src="Assets/Portfolio/Screenshot 2024-05-14 132856.png" alt="">
                <div class="portfolioBoxMiddle">
                    <h4>Style Moods Ecommerce</h4>
                  <a href="https://thestylemoods.com/">  <i class="fa-solid fa-arrow-right-long"></i></a>
                </div>
                <p>An ecommerce platform dedicated to trendy and stylish girls' wear. Our collection features the latest fashion trends, ensuring your wardrobe is always up-to-date. From casual wear to party outfits, we have something for every occasion. Discover your unique style with TheStylemoods.</p>
            </div>
        </div>
        <div class="portfolioSection">
            <div class="portfolioBox">
                <img src="Assets/Portfolio/Screenshot 2023-11-21 213043.png" alt="">
                <div class="portfolioBoxMiddle">
                    <h4>Swiper Js Both Side Slider</h4>
                    <i class="fa-solid fa-arrow-right-long"></i>
                </div>
                <p>This project features a sophisticated card-type slider utilizing Swiper JS. It allows seamless sliding of content cards from both sides. Perfect for showcasing multiple items in a compact space, this slider enhances user interaction. The smooth transitions make browsing intuitive and engaging.</p>
            </div>
            <div class="portfolioBox">
                <img src="Assets/Portfolio/Screenshot 2023-11-21 213130.png" alt="">
                <div class="portfolioBoxMiddle">
                    <h4>Sea Food Portfolio</h4>
                    <i class="fa-solid fa-arrow-right-long"></i>
                </div>
                <p>An interactive platform where users can control lighting, mimicking a bulb on/off experience. Ideal for educational and demonstration purposes, it offers a unique way to explore seafood-related information. The intuitive interface ensures easy navigation and usability. Illuminate your knowledge with our innovative lighting controls.</p>
            </div>
            <div class="portfolioBox">
                <img src="Assets/Portfolio/Screenshot 2023-11-22 114020.png" alt="">
                <div class="portfolioBoxMiddle">
                    <h4>Fanta Gsap Project</h4>
                    <i class="fa-solid fa-arrow-right-long"></i>
                </div>
                <p>The Fanta GSAP Project uses GSAP scrolling to dynamically present Fanta products. It offers a visually engaging and smooth scrolling experience. Each product is highlighted with animations that captivate and inform the viewer. Discover Fanta's vibrant range through this interactive scrolling showcase.</p>
            </div>
        </div>
        <div class="portfolioSection">
            <div class="portfolioBox">
                <img src="Assets/Portfolio/Screenshot 2023-11-22 114058.png" alt="">
                <div class="portfolioBoxMiddle">
                    <h4>Gsap Foldable Slider</h4>
                    <i class="fa-solid fa-arrow-right-long"></i>
                </div>
                <p>This project features a creative folder slider using GSAP that folds up and down like a box on scroll. It's perfect for presenting content in a unique and engaging way. The animation is smooth and responsive, adding a professional touch to any website. Experience innovative content presentation with the GSAP Folder Slider.</p>
            </div>
            <div class="portfolioBox">
                <img src="Assets/Portfolio/Screenshot 2024-05-13 223741.png" alt="">
                <div class="portfolioBoxMiddle">
                    <h4>Insta Zoo Backend Project</h4>
                    <i class="fa-solid fa-arrow-right-long"></i>
                </div>
                <p>Insta Zoo Backend is a powerful search tool for finding animal IDs quickly. It supports efficient data retrieval, making it easier to manage and access animal information. Ideal for zoo management and wildlife research, it ensures precise and fast searches. Enhance your animal database management with Insta Zoo Backend.</p>
            </div>
            <div class="portfolioBox">
                <img src="Assets/Portfolio/Screenshot 2023-12-14 095921.png" alt="">
                <div class="portfolioBoxMiddle">
                    <h4>Creative Studio Portfolio</h4>
                    <i class="fa-solid fa-arrow-right-long"></i>
                </div>
                <p>The Creative Studio Portfolio website is an animated portfolio showcasing a range of creative works. It features a dynamic loader that adds an element of excitement. The interactive design ensures a captivating user experience. Highlight your creative projects with this visually appealing portfolio site.</p>
            </div>
        </div>
        <div class="heroButtons">
            <button class="learnMore">Learn More &nbsp <i class="fa-solid fa-arrow-up-right-from-square"></i></button>
        </div>
    </div>
    <div class="knowledgeSlide ks1">
        <div class="slider">
            <span>*</span><div class="slide">HTML & CSS </div><span>*</span>
        <div class="slide">UI & UX</div><span>*</span>
        <div class="slide">Javascript</div><span>*</span>
        <div class="slide">React JS</div><span>*</span>
        <div class="slide">Wordpress</div><span>*</span>
        <div class="slide">Gsap</div><span>*</span>
        <div class="slide">Shopify</div><span>*</span>
        <div class="slide">Locomotive JS</div><span>*</span>
        <div class="slide">Slider JS</div><span>*</span>
    </div>
    </div>
    <div class="knowledgeSlide ks2">
        <div class="slider3">
            <span>*</span><div class="slide">HTML & CSS </div><span>*</span>
        <div class="slide">UI & UX</div><span>*</span>
        <div class="slide">Javascript</div><span>*</span>
        <div class="slide">React JS</div><span>*</span>
        <div class="slide">Wordpress</div><span>*</span>
        <div class="slide">Gsap</div><span>*</span>
        <div class="slide">Shopify</div><span>*</span>
        <div class="slide">Locomotive JS</div><span>*</span>
        <div class="slide">Slider JS</div><span>*</span>
    </div>
    </div>
    <!-- // Contact Now Section -->
    <div class="contact">
        <div class="contactSection">
        <div class="contactLeft">
            <div class="contactHead"><h1>Contact <span>Now</span></h1></div>
            <p>We are 24/7 available Now. <br>Reach out to us now</p>
            <div class="contactNumber">
                <a href="tel:916289142477"></a><i class="fa-solid fa-phone"></i><p>+91 6289142477</p></a>
            </div>
            <div class="contactMail">
                <a href="mailto:sitelin.in@gmail.com"></a><i class="fa-solid fa-envelope-circle-check"></i><p>sitelin.in@gmail.com</p></a>
                
            </div>
            <div class="contactLocation">
                <a href="tel:916289142477"></a><i class="fa-solid fa-map-location-dot"></i><p>4/26 B convent lane Kolkata 700015</p></a>
            </div>
        </div>
        <div class="contactRight">
            <form action="/send-email" method="POST">
                <!-- <input type="hidden" name="access_key" value="c6d7a787-1f75-4f4c-8f1f-c359193845ed"> -->
                <input type="text" name="name" id="name" placeholder="Name">
                <input type="email" name="email" id="email" placeholder="Mail">
                <input type="tel" name="number" id="number" placeholder="Contact Number">
                <textarea id="description" name="description" rows="4" cols="50" placeholder="Description About Your Project ?"></textarea>
                <button type="submit" id="submit" value="Submit">Talk with me Now <i class="fa-regular fa-circle-check"></i></button>
            </form>
        </div>
    </div>
    </div>

    <!-- // Footer -->
    <footer>
        <div class="videoSection">
            <!-- <video src="https://youtu.be/u8N_XGWd8Ps?si=b3zla0IBVxJTlWbh" type="video/mp4" ></video> -->
            <iframe width="420" height="315" src="https://www.youtube.com/embed/u8N_XGWd8Ps?si=b3zla0IBVxJTlWbh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="420" height="315" src="https://www.youtube.com/embed/dF0tfeUUaQc?si=n21NyviRc8Lv0Xfi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="420" height="315" src="https://www.youtube.com/embed/vNjTTYYzDFs?si=ME0fm5JsBMk5fNRJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="socialSection">
            <div class="socialHandles">
            <h1>Your <span style="color: #9cff00;">Trusted Friend</span> in Tech</h1>
            <!-- <h2 class="siteLinFoot">SiteLin</h2> -->
            
            <div class="socialIcons">
                <div class="instagramIcon"><i class="fa-brands fa-instagram"></i></div>
                <div class="facebookIcon"><i class="fa-brands fa-facebook"></i></div>
                <div class="linkedinIcon"><i class="fa-brands fa-linkedin"></i></div>
                <div class="whatsappIcon"><i class="fa-brands fa-whatsapp"></i></div>
            </div>
            <h3>Made with 💖 | SiteLin | ©2024</h3>
        </div>
        </div>
    </footer>
    <!-- // JavaScript File -->
    <script src="script.js"></script>
  </body>
</html>
